header div a{
    text-decoration: none;
    color: white;
    font-size: 4.5rem;
    font-weight: 700;
}
header nav a{
    text-decoration: none;
    color: white;
    font-size: 1.8rem;
    font-weight: 300;
    transition: .3s;
}
header nav a:hover{
    color: #002e91;
    transition: .3s;
}
.div-header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}
header nav{
    display: flex;
    gap: 1.8rem;
    flex-wrap: wrap;
}
header{
    display: flex;
    justify-content: center;
    background-color: #2c70ff;
}