@import "./css/header.css";
@import "./css/herosection.css";
@import "./css/produtos.css";
@import "./css/precos.css";
@import "./css/atribuicoes.css";
@import "./css/newsletter.css";

*{
    box-sizing: border-box;
}
body, h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
    font-family: "Nunito", Helvetica, Arial, sans-serif;
}
html{
    font-size: 62.5%;
}
img{
    overflow: clip;
    border-radius: 8px;
}